<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма</title>
</head>
<body>

<p th:if="${ok}">Данные сохранены</p>
Введите данные нового товара.
<form action="#" th:action="@{/form}" th:object="${item}" enctype="multipart/form-data" method="post">
    Название: <input type="text" th:field="*{title}"><br>
    Описание: <input type="text" th:field="*{description}"><br>
    Цена: <input type="number" th:field="*{price}"><br>
    Фото: <input type="file" name="imageFile"/><br>
    <button type="submit">Отправить</button>
</form>
</body>
</html>